p {
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}
.class_p {
    color: #fff;
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}