.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 300px;
    width: 100;
}

.text {
    padding-top: 30px;
    padding-left: 20px;
}

h4 {
    text-align: center;
    font-size: 72;
    padding: 10px;
    padding-top: 20px;
}