nav.bg-light {
    background-color: grey !important;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}

.nav-link.active {
    color: blue;
}

.btn-outline-success {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(0, 0, 0);
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffffff;
    --bs-gradient: none;
}

.nav-item {
    margin: 3px;
}

.team {
    color: blue;
    border-radius: 30px 30px 30px 30px;
    border: 8px solid #fff;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 10px;
    margin: 20px;
    max-width: 50%; 
}

.card {
    background-color: #fff;
    color: black;
}